version: '3.8'

services:
  # --- PROJECT 1: BACKEND (NODE) ---
  project1:   # <-- Tên mới (Thay cho chữ backend)
    build: ./Project1_QuanLyUser_Node
    container_name: project1_backend_container # Tên hiển thị container
    ports:
      - "10000:3000"
    restart: always

  # --- PROJECT 2: FRONTEND (REACT) ---
  project2:   # <-- Tên mới (Thay cho chữ frontend)
    build: ./Project2_TimViec_React
    container_name: project2_frontend_container # Tên hiển thị container
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - project1  # <-- QUAN TRỌNG: Phải sửa chỗ này để nó biết chờ Project 1 chạy trước